@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
  --font-mono: var(--font-noto-sans-jp);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-noto-sans-jp), sans-serif; */
}

/* Hide scrollbar */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}


button,
a {
  cursor: pointer;
}